{% extends 'layout.html' %}
{% block body %}
<span class="h1 my-3">Clients</span><a class="btn btn-primary btn-sm float-right my-3" href="/client/add">ADD</a>
<table class="table table-sm">
    <tr>
        <th>Billing ID</th>
        <th>Client Name</th>
        <th>Email</th>
        <th>Requested Payment</th>
        <th>Message</th>
    </tr>
    {% for client in clients %}
    <tr class="table-{{client._class}}">
        <td><a href="/client/{{client._id}}/" data-toggle="tooltip" data-placement="top" title="{{client._message}}">{{client.billing_id}}</a></td>
        <td>{{client.client_name}}</td>
        <td>{{client.email}}</td>
        <td>{{"${:,.2f}".format(client.payment_due)}}</td>
        <td>{{client._type}}</td>
    </tr>
    {% endfor %}
</table>
{% if 'DOWNLOAD_CLIENTS' in authorizations %}
<a href="/clients/csv" class="btn btn-sm btn-secondary">Download</a>
{% endif %}
{% if 'SEND_EVERGREEN' in authorizations %}
<a href="/admin/send_evergreen" class="btn btn-sm btn-success float-right">Send Evergreen</a>
{% endif %}
<script>
    window.addEventListener('load', clients_init);

    function clients_init()
    {
        $('[data-toggle="tooltip"]').tooltip();
    }
</script>
{% endblock %}