{% extends 'layout.html' %}
{% block body %}
<h1>Clients</h1>
<table class="table">
    <tr>
        <th>Billing ID</th>
        <th>Client Name</th>
        <th>Email</th>
        <th>Requested Payment</th>
        <th>Message</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td><a href="/client/{{client._id}}/">{{client.billing_id}}</a></td>
        <td>{{client.client_name}}</td>
        <td>{{client.email}}</td>
        <td>{{"${:,.2f}".format(client.payment_due)}}</td>
        <td>{{client.notes}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}