{% extends 'layout.html' %}
{% block body %}
<div class="alert alert-success alert-dismissible fade show d-none" role="alert" id="copy_link_alert_success">
    <strong>Got it!</strong> Payment link copied. You can paste it in another application.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show d-none" role="alert" id="copy_link_alert_invalid">
    <strong>Link Invalidated.</strong> The payment link is invalid because you changed the SSN or DL.
    Click [SAVE] and then come back to this record for a valid payment link.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    <h1>{{operation}} Client</h1>
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method='POST' action="/client/save/">
        <input type='hidden' name='_id' id='_id' value='{{client._id}}'>
        <input type='hidden' name='orig_trust_balance' value='{{client.trust_balance}}'>
        <div class="form-row">
            <div class="form-group col-md">
                {{render_field(form.billing_id, class_="form-control", value=client.billing_id)}}
            </div>
            <div class="form-group col-md">
                {{render_field(form.client_name, class_="form-control", value=client.client_name)}}
            </div>
            <div class="form-group col-md">
                {{render_field(form.salutation, class_="form-control", value=client.salutation)}}
            </div>
        </div>

        <div class="card border-primary my-3">
            <div class="card-header alert-primary">Payment</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{form.payment_due.label}}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-success far fa-lightbulb" id="suggest_button" onclick="suggestPaymentDue('Y')">
                                </button>
                            </div>
                            {{form.payment_due(class_="form-control", value=client.payment_due)}}
                        </div>
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.notes, class_="form-control", value=client.notes)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.email, class_="form-control", value=client.email)}}
                    </div>
                </div>
                <div class="form-group row copy_link_panel d-none">
                        <label for="copy_link" class="col-sm-2 col-form-label" id="copy_link_label">Payment link: </label>
                        <div class="col-sm-8">
                            <input type="text" id="copy_link" readonly class="form-control"/>
                        </div>
                        <button type="button" class="btn btn-sm btn-secondary far fa-copy" id="copy_link_button" onclick="copyPaymentLink()"></button>
                </div>
            </div>
        </div>

        <div class="card border-success my-3">
            <div class="card-header alert-success">Payment Threshholds</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.target_retainer, class_="form-control", value=client.target_retainer)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.refresh_trigger, class_="form-control", value=client.refresh_trigger)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.trust_balance, class_="form-control", value=client.trust_balance)}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        {{form.mediation_retainer.label}}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if client.mediation_retainer_flag == 'Y' %}
                                    {{form.mediation_retainer_flag(value="Y", checked="Y")}}
                                    {% else %}
                                    {{form.mediation_retainer_flag(value="Y")}}
                                    {% endif %}
                                </div>
                            </div>
                            {{form.mediation_retainer(class_="form-control", value=client.mediation_retainer)}}
                        </div>
                    </div>
                    <div class="form-group col-md">
                        {{form.trial_retainer.label}}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if client.trial_retainer_flag == 'Y' %}
                                    {{form.trial_retainer_flag(value='Y', checked='Y')}}
                                    {% else %}
                                    {{form.trial_retainer_flag(value='Y')}}
                                    {% endif %}
                                </div>
                            </div>
                            {{form.trial_retainer(class_="form-control", value=client.trial_retainer)}}
                        </div>
                    </div>
                    <div class="form-group col-md">
                        &nbsp;
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.mediation_date, class_="form-control", value=client.mediation_date)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.trial_date, class_="form-control", value=client.trial_date)}}
                    </div>
                    <div class="form-group col-md">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-primary my-3">
            <div class="card-header alert-primary">User Login</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.client_ssn, class_="form-control", value=client.client_ssn, onchange="hidePaymentLink()")}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.client_dl, class_="form-control", value=client.client_dl, onchange="hidePaymentLink()")}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.check_digit, class_="form-control", value=client.check_digit, readonly="Y")}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-primary my-3">
            <div class="card-header alert-primary">Cardholder Address</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.address1, class_="form-control", value=client.address1)}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.city, class_="form-control", value=client.city)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.state, class_="form-control", value=client.state)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.postal_code, class_="form-control", value=client.postal_code)}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-danger my-3">
            <div class="card-header alert-danger">Administrative Access</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-11">
                        {{render_field(form.attorney_initials, class_="form-control", value=client.attorney_initials)}}
                    </div>
                    <div class="form-group col">
                        {% if client.active_flag == 'Y' %}
                        {{render_field(form.active_flag, class_="form-control", value='Y', checked='Y')}}
                        {% else %}
                        {{render_field(form.active_flag, class_="form-control", value='Y')}}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{render_field(form.admin_users, class_="form-control", value=client.admin_users)}}
                </div>
            </div>
        </div>

        <button class="btn btn-primary my-3" type="submit">Save</button>
        <a href="/clients" class="btn btn-secondary my-3 mx-3">Cancel</a>
    </form>

    <script>
        window.addEventListener('load', client_init);

        function client_init(event)
        {
            if ('{{client._id}}' == '0') {
                document.getElementById('billing_id').focus();
            }
            else {
                var amount_field = document.getElementById("trust_balance");
                amount_field.select();
                amount_field.setSelectionRange(0, 99999);
                amount_field.focus();
            }

            var check_digit = document.getElementById("check_digit").value;
            if (!check_digit)
            {
                return false;
            }

            showPaymentLinkControls();
            showPaymentLink();

            suggestPaymentDue('N');
        }

        function suggestPaymentDue(override_flag)
        {
            var trial_retainer = getDollarValue('trial_retainer');
            var mediation_retainer = getDollarValue('mediation_retainer');
            var trust_balance = getDollarValue('trust_balance');
            var target_retainer = getDollarValue('target_retainer');
            var refresh_trigger = getDollarValue('refresh_trigger');
            var trial_retainer_due = getBooleanValue('trial_retainer_flag');
            var mediation_retainer_due = getBooleanValue('mediation_retainer_flag');
            var payment_amount = 0.00;

            if (mediation_retainer_due)
            {
                payment_amount += mediation_retainer - trust_balance;
                displayPaymentAmount(payment_amount, 'payment_due');
                return false;
            }

            if (trial_retainer_due) {
                payment_amount = trial_retainer - trust_balance;
                displayPaymentAmount(payment_amount, 'payment_due');
                return false;
            }
            
            if (trust_balance < refresh_trigger) {
                payment_amount = target_retainer - trust_balance;
                displayPaymentAmount(payment_amount, 'payment_due');
                return false;
            }

            if (override_flag == 'Y')
            {
                displayPaymentAmount(0, 'payment_due');
            }
        }

        function getDollarValue(field_id)
        {
            var field = document.getElementById(field_id);
            if (!field) return 0;
            var field_value = parseFloat(field.value);
            return field_value;
        }

        function getBooleanValue(field_id)
        {
            var field = document.getElementById(field_id);
            if (!field) return false;
            return field.checked;
        }

        function displayPaymentAmount(payment_amount, field_id)
        {
            var field = document.getElementById(field_id);
            if (!field)
            {
                alert("Field " + field_id + " is missing from the form.");
                return false;
            }
            field.value = payment_amount;
            field.textContent = payment_amount;
        }

        function showPaymentLinkControls()
        {
            document.getElementsByClassName("copy_link_panel")[0].classList.remove('d-none');
            document.getElementsByClassName("copy_link_panel")[0].classList.add('d-flex');
        }

        function hidePaymentLink()
        {
            var link_field = document.getElementById("copy_link");
            link_field.value = '';
            link_field.textContent = '';
        }

        function showPaymentLink()
        {
            var check_digit = document.getElementById("check_digit").value;
            var ssn = document.getElementById("client_ssn").value;
            var dl = document.getElementById("client_dl").value;

            if (!check_digit || !validate_digits(ssn) || !validate_digits(dl))
            {
                var payment_link = '';
            }
            else
            {
                var payment_link = "{{our_pay_url}}" + ssn + dl + check_digit;
            }

            var link_field = document.getElementById("copy_link");
            link_field.value = payment_link;
            link_field.textContent = payment_link;
        }

        function copyPaymentLink()
        {
            var link_field = document.getElementById("copy_link");
            link_field.select();
            link_field.setSelectionRange(0, 99999);
            document.execCommand("copy");
            link_text = link_field.value;
            if (link_text)
            {
                var alert_id = "copy_link_alert_success";
            }
            else
            {
                var alert_id = "copy_link_alert_invalid";
            }
            var message_box = document.getElementById(alert_id);
            // Once the box is displayed, then dismissed by the user, it is removed from the DOM.
            // Therefore, if the user clicks the "copy" button more than once, there is non alert
            // to display. TODO: Fix this.
            if (message_box)
            {
                message_box.classList.remove('d-none');
                message_box.classList.add('d-block');
            }
            return false;
        }

        function validate_digits(digits)
        {
            //if (digits.length != 3) return false;
            if (!/^([0-9]{3})$/.test(digits)) return false;
            return true;
        }
    </script>
{% endblock %}
