{% extends 'layout.html' %}
{% block body %}
<span class="h1 my-3">Docket</span>

            {% for client in clients %}
            <div class="row text-bg-dark text-warning mt-4">
                <div class="col">
                    {{client.name.last_name.upper()}}, {{client.name.first_name}} {{client.name.middle_name}} {{client.name.suffix}}
                    ({{client.billing_id}})
                </div>
                <div class="col">               
                    Trust: {{"${:,.2f}".format(client.trust_balance or 0)}} 
                    Orig retainer: {{"${:,.2f}".format(client.target_retainer or 0)}}
                </div>
                <div class="col">
                    {% if client.case_type == 'XXXX' %}
                    {{client.case_style}}
                    {% elif client.case_type %}
                    {{ client.case_type | case_type }}
                    {% else %}
                    {{ client.case_style }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{client.cause_number}} 
                    ({{client.court_name}} -
                    {{client.case_county}})
                </div>
                <div class="col">
                    Next hearing:
                    {% if 'next_hearing' in client %}
                    {{client.next_hearing.hearing_date or ''}} {{client.next_hearing.subject}} {{client.next_hearing.covered_by}}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Mediation:
                    {% if 'mediation_date' in client %}
                    {{client.mediation_date.mediation_date or ''}} ({{client.mediation_date.mediator_name}} - {{client.mediation_date.location}})
                    {% endif %}
                </div>
                <div class="col">
                    Trial: {{client.trial_date or 'NOT SET'}}
                </div>
            </div>
            {% for task in client.case_events %}
            <div class="row">
                <div class="col-2 border border-dark">
                    {{task.due_date | date}}
                </div>
                <div class="col-4 border border-dark">
                    {{task.description}}
                </div>
                <div class="col-2 border border-dark">
                    {{task.assigned_to | email_name}}
                </div>
                <div class="col-4 border border-dark">
                    {{task.notes}}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
{% endblock %}