{% extends 'layout.html' %}
{% set active_page = "templates" %}
{% block body %}
<span class="h1 my-3">Templates</span>
<a class="btn btn-primary btn-sm float-end my-3" href="/admin/add_template"><i class="fa fa-plus"></i></a>
<table class="table table-sm table-hover">
    <tr>
        <th>Name</th>
        <th>Date Created</th>
        <th>Delete</th>
    </tr>
    {% for template in templates %}
    <tr>
        <td><a href="/admin/template/{{template.Name}}/">{{template.Name}}</a></td>
        <td>{{template.CreatedTimestamp}}</td>
        <td><a href="/admin/delete_template/{{template.Name}}/" class="btn btn-danger far fa-trash-alt"></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}