{% extends 'layout.html' %}
{% block body %}
    <h1>{{operation}} Admin User</h1>
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method='POST' action="/admin/user/save/">
        <input type='hidden' name='_id' id='_id' value='{{user._id}}'>
        <div class="card border-primary my-3">
            <div class="card-header alert-primary">Name</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.email, class_="form-control", value=user.email)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.first_name, class_="form-control", value=user.first_name)}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.last_name, class_="form-control", value=user.last_name)}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-primary my-3">
            <div class="card-header alert-primary">Access</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.groups, class_="form-control")}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.attorneys, class_="form-control")}}
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.authorizations, class_="form-control")}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-danger my-3">
            <div class="card-header alert-danger">Flags</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md">
                        {{render_field(form.ring_central_username, class_="form-control", value=user.ring_central_username)}}
                        <small class="text-muted">This is your direct dial phone number, not the main office number.</small>
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.ring_central_extension, class_="form-control", value=user.ring_central_extension)}}
                        <small class="text-muted">Usually left blank</small>
                    </div>
                    <div class="form-group col-md">
                        {{render_field(form.ring_central_password, class_="form-control", value=user.ring_central_password)}}
                        <small class="text-muted">Password for logging into RingCentral Office or AT&T Office At Hand</small>
                    </div>
                    <div class="form-group col-md">
                        {% if user.active_flag == 'Y' %}
                        {{render_field(form.active_flag, class_="form-control", value='Y', checked='Y')}}
                        {% else %}
                        {{render_field(form.active_flag, class_="form-control", value='Y')}}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    
                </div>
            </div>
        </div>

        <button class="btn btn-primary my-3" type="submit">Save</button>
        <a href="/admin/users" class="btn btn-secondary my-3 mx-3">Cancel</a>
    </form>
{% endblock %}
