<!--ID TAB-->
<div class="tab-pane fade" id="id" role="tabpanel" aria-labelledby="id-tab">
    <div class="card border-primary my-3">
        <div class="card-header text-bg-primary">User Login</div>
        <div class="card-body">
            <div class="row g-3">
                <div class="form-group col-md">
                    {{render_field(form.client_ssn, class_="form-control", value=client.client_ssn, onchange="hidePaymentLink()")}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.client_dl, class_="form-control", value=client.client_dl, onchange="hidePaymentLink()")}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.check_digit, class_="form-control", value=client.check_digit, readonly="Y")}}
                </div>
            </div>
        </div>
    </div>
</div>