<!--CONTACTS TAB-->
<style>
    .table-hover>tbody>tr>td.highlightable:hover {
        background-color: #eedf0d !important;
    }

    .table-hover>tbody>tr:hover>td {
        background-color: inherit;
    }
</style>
<div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
    <div class="card border-primary my-3">
        <div class="card-header alert-primary">
            Case Contacts
            <a class="btn btn-primary btn-sm float-right" href="{{url_for('crm_routes.add_contact')}}/{{client_id}}">ADD</a>
        </div>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <tr>
                    <th>Name</th>
                    <th>Role <i class="far fa-edit" title="Edit by clicking and typing a new role description"></i></th>
                    <th>Email</th>
                    <th colspan="2">Call</th>
                    <th>SMS</th>
                    <th class="d-none d-md-table-cell">Letter</th>
                    {% if 'DOWNLOAD_VCARD' in authorizations %}
                    <th>Vcard</th>
                    <th>Unlink</th>
                    {% endif %}
                </tr>
                {% for contact in contacts %}
                <tr id="cn_row_{{contact._id}}">
                    <td class="highlightable">
                        <a href="/crm/contact/{{contact._contact._id}}/{{client._id}}">
                            {{contact._contact.name.title}} {{contact._contact.name.first_name}} {{contact._contact.name.middle_name}} {{contact._contact.name.last_name}} {{contact._contact.name.suffix}}
                        </a>
                    </td>
                    <td contenteditable="true" class="editable_contact_role" data-clients-contacts-id="{{contact._id}}">
                        {{contact.role or contact._contact.job_title}}
                    </td>
                    
                    <td>
                        {% if contact._contact.email %}
                        <a  href="mailto:{{contact._contact.email}}?subject={{client._email_subject}}&cc={{contact.cc_list}}"
                            class="btn btn-outline-secondary fa fa-envelope" data-tooltip="tooltip"
                            data-placement="top" title="Send Email to {{contact._contact.email}}" role="button">
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if contact._contact.office_phone.strip() != '' %}
                        <button class="btn btn-outline-secondary fa fa-phone" data-tooltip="tooltip" data-placement="top"
                            title="Call Office: {{contact._contact.office_phone | phone_number}}" onclick="dial('{{contact._contact.office_phone}}')"
                            type="button">
                        </button>
                        {% endif %}
                    </td>
                    {% if contact._contact.cell_phone.strip() != '' %}
                    <td>
                        <button class="btn btn-outline-secondary fa fa-mobile" data-tooltip="tooltip" data-placement="top"
                            title="Call cell: {{contact._contact.cell_phone | phone_number}}" onclick="dial('{{contact._contact.cell_phone}}')"
                            type="button">
                        </button>
                    </td>
                    <td>
                        <!--Because this button shows up in a form, it must have type="button" or the form will be submitted.-->
                        <button class="btn btn-outline-secondary fa fa-comments"
                            data-name="{{contact._contact.name.title}} {{contact._contact.name.first_name}} {{contact._contact.name.last_name}}"
                            data-telephone="{{contact._contact.cell_phone}}" data-target="#smsMessageModal" data-placement="top"
                            title="Send Text" data-tooltip="tooltip" data-toggle="modal" type="button">
                        </button>
                    </td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                    <td class="d-none d-md-table-cell">
                        <a
                            class="btn btn-outline-secondary fas fa-file-download"
                            href="/crm/util/contact_letter/{{contact.contacts_id}}/{{contact.clients_id or 0}}/"
                            title="Download letter"
                            data-tooltip="tooltip">
                        </a>
                    </td>
                    {% if 'DOWNLOAD_VCARD' in authorizations %}
                    <td>
                        <a
                            class="btn btn-outline-primary far fa-address-card"
                            href="/crm/data/contact/vcard/{{contact.contacts_id}}/pro/"
                            title="VCard for Professionals"
                            data-tooltip="tooltip">
                        </a>
                        <a 
                            class="btn btn-outline-secondary far fa-address-card"
                            href="/crm/data/contact/vcard/{{contact.contacts_id}}/nonpro/"
                            title="VCard for Clients"
                            data-tooltip="tooltip">
                        </a>
                    </td>
                    {% endif %}
                    <td>
                        <button class="btn btn-danger fas fa-user-minus"
                            title="Unlink {{contact._contact.name.title}} {{contact._contact.name.first_name}} {{contact._contact.name.last_name}}"
                            data-placement="top" data-tooltip="tooltip" type="button"
                            onclick="unlink('{{contact._client._id}}', '{{contact._contact._id}}', 'cn_row_{{contact._id}}', '{{contact._contact.name.title}} {{contact._contact.name.first_name}} {{contact._contact.name.last_name}}')"
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div>
                {% if 'DOWNLOAD_CONTACTS' in authorizations %}
                <a href="/crm/util/contacts/csv/{{client_id}}/" class="btn btn-sm btn-primary">Download</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br />
