<!--NAME TAB-->
<div class="tab-pane fade show active" id="name" role="tabpanel" aria-labelledby="name-tab">
    <div class="card border-primary my-3">
        <div class="card-header text-bg-primary">Name</div>
        <div class="card-body">
            <div class="row g-2">
                <div class="form-group col-md-2">
                    {{render_field(form.name.title, class_="form-control", value=client.name.title)}}
                </div>
                <div class="form-group col-md-3">
                    {{render_field(form.name.first_name, class_="form-control", value=client.name.first_name)}}
                </div>
                <div class="form-group col-md-3">
                    {{render_field(form.name.middle_name, class_="form-control", value=client.name.middle_name)}}
                </div>
                <div class="form-group col-md-3">
                    {{render_field(form.name.last_name, class_="form-control", value=client.name.last_name)}}
                </div>
                <div class="form-group col-md-1">
                    {{render_field(form.name.suffix, class_="form-control", value=client.name.suffix)}}
                </div>
<!--ROW-->
                <div class="form-group col-12">
                    {{render_field(form.name.salutation, class_="form-control", value=client.name.salutation)}}
                </div>
            </div>
        </div>
    </div>
</div>