<!--CASE TAB-->
<div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
    <div class="card border-primary my-3">
        <div class="card-header alert-primary">
            Case Plan
            <span class="float-right">
                <input type="date" id="answer_date" />
                <button class="btn btn-primary btn-sm" id="btn_init_disclosures" type="button">Create Discl Plan</button>
                <button class="btn btn-primary btn-sm" id="btn_load_plan" type="button">LOAD</button>
            </span>
        </div>
        <div class="card-body" id="case_plan">
        </div>
    </div>
</div>