<nav class="navbar navbar-expand-md" style="background-color: var(--main-bg-color); padding:0px">
    <a class="navbar-brand" style="background-color: var(--logo-bg-color);" href="/"><img title="Attorney CRM" height="60px"
            src="/static/logo.png" style="margin:10px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav mr-auto">
            {% if 'CRM_USER' in authorizations %}
            <li class="nav-item">
                <a class="nav-link" href="/crm">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crm/contacts">Contacts</a>
            </li>
            {% endif %}
            {% if session['is_admin'] == 'Y' %}
                {% if 'TEMPLATE_ADMIN' in authorizations %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/templates">Templates</a>
                </li>
                {% endif %}
                {% if 'USER_ADMIN' in authorizations %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-right">
            {% if 'EDIT_GLOBAL_SETTINGS' in authorizations %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/global_settings"><i class="fas fa-users-cog"></i></a>
            </li>
            {% endif %}
            {% if session.get('user') %}
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>