{% extends "tools/tools.html" %}
{% block tool_area %}
<h4>Child Support Violations</h1>
{% from 'includes/_formhelpers.html' import render_field %}
<form method='POST' action="{{url_for('tools_routes.cs_violations', client_id=client._id)}}">
    <input type='hidden' name='_id' id='_id' value='{{client._id}}'>
    <div class="card border-primary my-3">
        <div class="card-header alert-primary">Parameters</div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{render_field(form.cs_payment_amount, class_="form-control", value=form_data.cs_payment_amount)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{render_field(form.medical_payment_amount, class_="form-control", value=form_data.medical_payment_amount)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{render_field(form.dental_payment_amount, class_="form-control", value=form_data.dental_payment_amount)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{render_field(form.start_date, class_="form-control", value=form_data.start_date)}}
                </div>
                <div class="form-group col-md-6">
                    {{render_field(form.payment_interval, class_="form-control", value=form_data.payment_interval)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{render_field(form.children_not_before_court, class_="form-control", value=form_data.children_not_before_court)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <textarea class="form-control rounded-3" id="payments" name="payments" rows="5" aria-label="Payments">{{form_data.payments}}</textarea>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-sm" onclick="create_violations('violations_message')" />
    </div>
</form>
{% if indictments %}
<input type="button" class="btn btn-sm btn-success" role="button" onclick="selectElementContents('violations_table', 'violations_message')" value="Copy Payment Record" />
<span id="violations_message" class="text-success"></span>
<table class="table table-striped table-sm" id="violations_table">
    <thead>
        <th>Violations</th>
    </thead>
    <tbody>
{% for indictment in indictments %}
        <tr>
            <td>VIOLATION {{loop.index}}: {{indictment}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

<script>
    function selectElementContents(element_id, msg_id) {
      var body = document.body;
      var element = document.getElementById(element_id);

      if (document.createRange && window.getSelection) {
        var range = document.createRange();
        var sel = window.getSelection();
        sel.removeAllRanges();
        range.selectNodeContents(element);
        sel.addRange(range);
      }
      document.execCommand("Copy");
      sel.removeAllRanges();
      var msg_el = document.getElementById(msg_id);
      msg_el.textContent = "Violations copied.";
    }

    function create_violations(msg_id) {
        var msg_el = document.getElementById(msg_id);
        msg_el.textContent = "";
    }
  </script>
{% endblock %}