{% extends 'layout.html' %}
{% set active_page = 'clients' %}
{% block body %}
<style>
    .table-hover>tbody>tr>td.highlightable:hover{
        background-color: #eedf0d!important;
    }

    .table-hover>tbody>tr:hover>td{
        background-color: inherit;
    }
</style>
<span class="h1 my-3">{% if show_crm_state %}Filtered{%else%}Active{%endif%} Clients</span><a class="btn btn-primary btn-sm float-right my-3" href="/crm/client/add">ADD</a>

<form method='POST' action="{{url_for('crm_routes.search_clients', page_num=1)}}">
    <div class="input-group mb-3">
        <input type="search" class="form-control" id="search" name="query" aria-label="Client search text" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-search" type="submit" aria-label="Search"></button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <table class="table table-sm table-hover">
            <tr>
                {% if show_crm_state %}
                <th>CRM State</th>
                {% endif %}
                <th>Billing ID</th>
                <th>Client Name</th>
                {% if 'PIONEER_USER' in authorizations %}
                <th></th>
                {%endif%}
                <th>Email</th>
                <th>Call</th>
                <th>SMS</th>
                <th>Notes</th>
                {% if 'PIONEER_USER' in authorizations %}
                <th>Discovery</th>
                {%endif%}
                <th class="d-none d-md-table-cell">Mediation Date</th>
                <th class="d-none d-md-table-cell">Trial Date</th>
                <th class="text-right d-none d-md-block">Trust Balance</th>
            </tr>
            {% for client in clients %}
            <tr class="text-{{client._class}}">
                {% if show_crm_state %}
                <td>
                    {{client.crm_state | crm_state}}
                </td>
                {% endif %}
                <td>
                    <a href="/crm/client/{{client._id}}/">{{client.billing_id}}</a>
                </td>
                <td class="highlightable">
                    {{client.name.last_name.upper()}}, {{client.name.first_name}} {{client.name.middle_name}} {{client.name.suffix}}
                </td>
                {% if 'PIONEER_USER' in authorizations %}
                <td>
                    <a
                        href="/client_tools/{{client._id}}/"
                        class="btn btn-outline-secondary fas fa-tools"
                        data-tooltip="tooltip" data-placement="top" title="Client Tools"
                        aria-label="Client Tools"
                        role="button">
                    </a>
                </td>
                {%endif%}
                <td>
                    {% if client.email %}
                    <a
                        href="mailto:{{client.email}}?subject={{client._email_subject}}&cc={{client._email_cc_list}}"
                        class="btn btn-outline-secondary fa fa-envelope"
                        data-tooltip="tooltip" data-placement="top" title="Send Email to {{client.email}}"
                        aria-label="Send Email to {{client.email}}"
                        role="button">
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if client.telephone.strip() != '' %}
                    <button
                        class="btn btn-outline-secondary fa fa-phone"
                        data-tooltip="tooltip" data-placement="top" title="Call {{client.telephone | phone_number}}"
                        aria-label="Call {{client.telephone | phone_number}}"
                        onclick="dial('{{client.telephone}}')">
                    </button>
                    {%endif%}
                </td>
                <td>
                    <button
                        class="btn btn-outline-secondary fa fa-comments"
                        data-name="{{client.name.title}} {{client.name.first_name}} {{client.name.last_name}}"
                        data-telephone="{{client.telephone}}"
                        data-target="#smsMessageModal"
                        data-placement="top"
                        title="Send Text"
                        aria-label="Send Text Message"
                        data-tooltip="tooltip"
                        data-toggle="modal">
                    </button>
                </td>
                <td>
                    <a
                        class="btn fa fa-sticky-note {% if client._notes_flag %}btn-outline-success{%else%}btn-outline-secondary{%endif%}"
                        data-tooltip="tooltip" data-placement="top" title="Notes"
                        aria-label="Notes"
                        href="/crm/notes/{{client._id}}/"
                    ></a>
                </td>
                {% if 'PIONEER_USER' in authorizations %}
                <td>
                    {% if client._discovery_flag %}
                    <a
                        class="btn btn-outline-secondary fas fa-binoculars"
                        data-tooltip="tooltip" data-placement="top" title="Discovery"
                        aria-label="Discovery"
                        href="/discovery/list/{{client._id}}/"
                    ></a>
                    {%endif%}
                </td>
                {%endif%}
                <td class="d-none d-md-table-cell">{{client.mediation_date or ''}}</td>
                <td class="d-none d-md-table-cell">{{client.trial_date or ''}}</td>
                <td class="text-right d-none d-md-table-cell">{{"${:,.2f}".format(client.trust_balance or 0)}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% if 'DOWNLOAD_CLIENTS' in authorizations %}
<a href="/clients/csv/list"                    class="btn btn-sm btn-secondary">Download</a>
<a href="/clients/csv/deadline_checklist" class="btn btn-sm btn-secondary">Checklist</a>
{% endif %}
<a href="/docket" class="btn btn-sm btn-secondary">Docket</a>

<div class="modal fade" id="smsMessageModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="smsModalLabel">
                    <h5 class="main-title">Send Text Message</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Telephone:</label>
                        <input type="text" class="form-control" id="recipient-telephone">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" rows="5"></textarea>
                    </div>
                    <div class="alert alert-primary" id="message-result"></div>
                    <p class="alert alert-warning">Your Direct Dial Telephone Number Will Be Revealed</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="send_message()">Send</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', clients_init);

    function clients_init() {
        $('[data-tooltip~="tooltip"]').tooltip();
        $('#message-text').focus(function(event) {
            $('#message-result').html('');
        });

        $('#smsMessageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered modal
            var recipient = button.data('name');
            var telephone = button.data('telephone');
            var modal = $(this);
            modal.find('.main-title').text('Send Message to ' + recipient);
            modal.find('.modal-body input').val(telephone);
            modal.find('.modal-body textarea').val('');
            $('#message-result').html('');
        }
        );
    }

    function dial(to_number) {
        var opts = {
            to_number: to_number
        };
        dialer.dial(opts);
    }
    
    function before_sms_send() {
        $('#message-result').html('');
    }

    function after_sms_send(message) {
        $('#message-result').html(message);
        $('#message-text').val('');
    }

    function send_message() {
        var telephone = $('#recipient-telephone').val();
        var message = $('#message-text').val();
        var opts = {
            to_number: telephone,
            message: message,
            before_send: before_sms_send,
            after_send: after_sms_send
        };
        dialer.send_message(opts);
    }
</script>
{% endblock %}