{% extends 'layout.html' %}
{% block body %}
    <h1>{{operation}} Client {% if client._id != '0'%}: {{client.name.title}} {{client.name.first_name}} {{client.name.middle_name}} {{client.name.last_name}}
    {{client.name.suffix}}{% endif %}</h1>
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method='POST' action="{{url_for('crm_routes.save_client')}}">
        <input type='hidden' name='_id' id='_id' value='{{client._id}}'>
        <input type='hidden' name='orig_trust_balance' value='{{client.trust_balance}}'>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col">
                {{render_field(form.billing_id, class_="form-control", value=client.billing_id)}}
            </div>
        </div>

        <!--NAVIGATION TABS-->
        <ul class="nav nav-tabs" id="client_tabs" role="tablist">
            {% for tab in tabs %}
            <li class="{{tab.li_class}}">
                <a class="{{tab.a_class}}" id="{{tab.name}}-tab" data-toggle="tab" href="#{{tab.name}}" role="tab" aria-controls="{{tab.name}}"
                    aria-selected="{{tab.selected}}">{{tab.label}}</a>
            </li>
            {% endfor %}
        </ul>

        <!--TAB CONTENT-->
        <div class="tab-content" id="client_tab_content">
            {% include '/crm/includes/_client_name.html' %}
            {% include '/crm/includes/_client_address.html' %}
            {% include '/crm/includes/_client_contact.html' %}
            {% include '/crm/includes/_client_case.html' %}
            {% include '/crm/includes/_client_contacts.html' %}
            {% include '/crm/includes/_client_children.html' %}
            {% include '/crm/includes/_client_dates.html' %}
            {% include '/crm/includes/_client_marketing.html' %}
            {% include '/crm/includes/_client_access.html' %}
            {% include '/crm/includes/_client_id.html' %}
            {% include '/crm/includes/_client_insurance.html' %}
            {% include '/crm/includes/_client_billing.html' %}
        </div>
        <button class="btn btn-primary my-3" type="submit">Save</button>
        <a href="/crm" class="btn btn-secondary my-3 mx-3">Cancel</a>
    </form>

    {% include '/crm/includes/_client_add_child_modal.html' %}

    <script>
        window.addEventListener('load', client_init);
        /**
         * Form initialization.
         * Set up listeners and prepopulate select inputs.
         */
        function client_init() {
            var e = document.getElementById('case_county');
            if (!e) {
                alert('case_county control missing');
            }
            else {
                e.addEventListener("change", county_change);
            }

            e = document.getElementById('court_type');
            if (!e) {
                alert('court_type control missing');
            }
            else {
                e.addEventListener("change", court_type_change);
            }

            $('#addChildModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered modal
                console.log("MODAL TRIGGERED");
                //event.preventDefault();
                //return false;
            }
            );
            $('#addChildModal').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered modal
                console.log("MODAL APPEARS");
            }
            );
        }

        /**
         * Gets a list of court types for the given county when
         * the case_county value changes.
         */
        function county_change(ev) {
            $('#court_type').empty();
            $('#court_name').empty();
            var county = document.getElementById('case_county').value;
            var url = '/crm/data/court_types/' + county + '/';
            jQuery.get(
                url,
                function(data){update_select_options('#court_type', data);}
            );
        }

        /**
         * Gets a list of courts for the given county and court type when
         * the court_type value changes.
         */
        function court_type_change(ev) {
            $('#court_name').empty();
            var county = document.getElementById('case_county').value;
            var court_type = document.getElementById('court_type').value;
            var url = '/crm/data/court_names/' + county + '/' + court_type + '/';
            jQuery.get(
                url,
                function(data){update_select_options('#court_name', data);}
            );
        }

        /**
         * Create a new child subform on the children tab.
         * This function does NOT save the child to the database.
         * It merely adds it to the UI.
         *
         * TODO: Determine whether NOT saving to the DB is a UX problem.
         */
        function save_child() {
            var next_index = $('#child_count').val();
            create_new_child_form(next_index);
            populate_new_child_form(next_index);
            $("#addChildModal").modal('hide');
        }

        /**
         * Create new child subform to hold values collected from the
         * addChildModal.
         */
        function create_new_child_form(next_index) {
            console.log("Creating new child form with index of " + next_index);
        }

        /**
         * Populate the given child subform with values from the addChildModal.
         */
        function populate_new_child_form(next_index) {
            console.log("Populating new child form with index of " + next_index);
            var fields = ['name-first_name', 'name-middle_name', 'name-last_name', 'name-suffix', 'sex', 'dob', 'home_state', 'ssn'];
            fields.forEach((element) => {
                var dest_selector = '#children-' + next_index + '-' + element;
                var src_selector = '#addChildForm #' + element;
                var value = $(src_selector).val();
                console.log({'From': src_selector, 'To': dest_selector, 'Value': value});
                $(dest_selector).val(value);
            });
        }

        /**
         * Update the options in a given select control.
         */
        function update_select_options(selector, result) {
            var select = $(selector);
            select.empty();
            select.append(make_options(result));
        }

        /*
         * Make an <option> string from an array.
         */
        function make_options(arr) {
            var options = '';
            arr.forEach(element => {
                options += '<option value="' + element + '">' + element + '</option>';
            });
            return options;
        }

        /**
         * Suggest a payment due based on all the inputs in the billing tab.
         */
        function suggestPaymentDue() {
            var payment_due = computePaymentDue().toFixed(2);
            var field = document.getElementById('payment_due');
            field.value = payment_due;
            field.textContent = payment_due;
        }

        function computePaymentDue(){
            var trust_balance = getDollarAmount('trust_balance');
            var unbilled_fees = getDollarAmount('unbilled_fees');
            var unbilled_costs = getDollarAmount('unbilled_costs');
            var target_retainer = getDollarAmount('target_retainer');
            var refresh_trigger = getDollarAmount('refresh_trigger');
            var mediation_retainer = getDollarAmount('mediation_retainer');
            var trial_retainer = getDollarAmount('trial_retainer');

            var mediation_retainer_flag = document.getElementById('mediation_retainer_flag').checked;
            var trial_retainer_flag = document.getElementById('trial_retainer_flag').checked;
            var final_bill_flag = document.getElementById('final_bill_flag').checked;

            var account_balance = trust_balance - unbilled_fees - unbilled_costs;

            // FINAL BILL
            if (final_bill_flag) {
                return account_balance < 0 ? Math.abs(account_balance) : 0.00;
            }

            if (mediation_retainer_flag) {
                target_retainer = mediation_retainer;
            }

            if (trial_retainer_flag) {
                target_retainer = trial_retainer;
            }

            if (target_retainer > account_balance) {
                return target_retainer - account_balance;
            }

            return 0.00;
        }

        function getDollarAmount(element_id) {
            var e = document.getElementById(element_id);
            if (!e) return 0.00;
            var v = e.value;
            try {
                v = parseFloat(v);
            }
            catch{
                v = 0.00;
            }
            if (isNaN(v)) v = 0.00
            return v;
        }

        function dial(to_number) {
            opts = {
                to_number: to_number
            };
            dialer.dial(opts);
        }
        
    </script>
{% endblock %}
