{% extends 'layout.html' %}
{% block body %}
    <h1>{{operation}} Client {% if client._id != '0'%}: {{client.name.title}} {{client.name.first_name}} {{client.name.middle_name}} {{client.name.last_name}}
    {{client.name.suffix}}{% endif %}</h1>
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method='POST' action="{{url_for('crm_routes.save_client')}}">
        <input type='hidden' name='_id' id='_id' value='{{client._id}}'>
        <input type='hidden' name='orig_trust_balance' value='{{client.trust_balance}}'>
        <div class="form-row">
            <div class="form-group col">
                {{render_field(form.billing_id, class_="form-control", value=client.billing_id)}}
            </div>
        </div>

        <!--NAVIGATION TABS-->
        <ul class="nav nav-tabs" id="client_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="name-tab" data-toggle="tab" href="#name" role="tab" aria-controls="name"
                    aria-selected="true">Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address"
                    aria-selected="false">Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="case-tab" data-toggle="tab" href="#case" role="tab" aria-controls="case"
                    aria-selected="false">Case</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing"
                    aria-selected="false">Billing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="id-tab" data-toggle="tab" href="#id" role="tab" aria-controls="id"
                    aria-selected="false">ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dates-tab" data-toggle="tab" href="#dates" role="tab" aria-controls="dates"
                    aria-selected="false">Dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="insurance-tab" data-toggle="tab" href="#insurance" role="tab" aria-controls="insurance"
                    aria-selected="false">Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="marketing-tab" data-toggle="tab" href="#marketing" role="tab" aria-controls="marketing"
                    aria-selected="false">Marketing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="access-tab" data-toggle="tab" href="#access" role="tab" aria-controls="access"
                    aria-selected="false">Access</a>
            </li>
        </ul>

        <!--TAB CONTENT-->
        <div class="tab-content" id="client_tab_content">
            <!--NAME TAB-->
            <div class="tab-pane fade show active" id="name" role="tabpanel" aria-labelledby="name-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Name</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                {{render_field(form.name.title, class_="form-control", value=client.name.title)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.name.first_name, class_="form-control", value=client.name.first_name)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.name.middle_name, class_="form-control", value=client.name.middle_name)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.name.last_name, class_="form-control", value=client.name.last_name)}}
                            </div>
                            <div class="form-group col-md-2">
                                {{render_field(form.name.suffix, class_="form-control", value=client.name.suffix)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{render_field(form.name.salutation, class_="form-control", value=client.name.salutation)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--ADDRESS TAB-->
            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Address</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col">
                                {{render_field(form.address.street, class_="form-control", value=client.address.street)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{render_field(form.address.city, class_="form-control", value=client.address.city)}}
                            </div>
                            <div class="form-group col">
                                {{render_field(form.address.state, class_="form-control", value=client.address.state)}}
                            </div>
                            <div class="form-group col">
                                {{render_field(form.address.postal_code, class_="form-control", value=client.address.postal_code)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CONTACT TAB-->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Contact</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.email, class_="form-control", value=client.email)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.telephone, class_="form-control", value=client.telephone)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CASE TAB-->
            <div class="tab-pane fade" id="case" role="tabpanel" aria-labelledby="case-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Case Information</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.case_county, class_="form-control", value=client.case_county)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.court_type, class_="form-control", value=client.court_type)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.court_name, class_="form-control", value=client.court_name)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.cause_number, class_="form-control", value=client.cause_number)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.case_style, class_="form-control", value=client.case_style)}}
                            </div>
                            <div class="form-group col-md-3">
                                {{render_field(form.oag_number, class_="form-control", value=client.oag_number)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--DATES TAB-->
            <div class="tab-pane fade" id="dates" role="tabpanel" aria-labelledby="dates-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Dates</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.client_dob, class_="form-control", value=client.client_dob)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.marriage_date, class_="form-control", value=client.marriage_date)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.separation_date, class_="form-control", value=client.separation_date)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.retained_date, class_="form-control", value=client.retained_date)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.filed_date, class_="form-control", value=client.filed_date)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.completion_date, class_="form-control", value=client.completion_date)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{form.mediation_date.label}}
                                <div class="border border-primary rounded p-1">
                                    {% if client.mediation_date %}
                                    {{client.mediation_date}}
                                    {% else %}
                                    &nbsp;
                                    {% endif %}
                                </div>
                                <div class="small">(modified on BILLING tab)</div>
                            </div>
                            <div class="form-group col-md">
                                {{form.trial_date.label}}
                                <div class="border border-primary rounded p-1">
                                    {% if client.trial_date %}
                                    {{client.trial_date}}
                                    {% else %}
                                    &nbsp;
                                    {% endif %}
                                </div>
                                <div class="small">(modified on BILLING tab)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--MARKETING TAB-->
            <div class="tab-pane fade" id="marketing" role="tabpanel" aria-labelledby="marketing-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Marketing</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.crm_state, class_="form-control", value=client.crm_state)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                {% if 'EDIT_REFERRER' in authorizations %}
                                {{render_field(form.referrer.referred_to, class_="form-control", value=client.referrer.referred_to)}}
                                {% else %}
                                {{render_field(form.referrer.referred_to, class_="form-control", value=client.referrer.referred_to, readonly="Y")}}
                                {% endif %}
                            </div>
                            <div class="form-group col-md">
                                {% if 'EDIT_REFERRER' in authorizations %}
                                {{render_field(form.referrer.source, class_="form-control", value=client.referrer.source)}}
                                {% else %}
                                {{render_field(form.referrer.source, class_="form-control", value=client.referrer.source, readonly="Y")}}
                                {% endif %}
                            </div>
                            <div class="form-group col-md">
                                {% if 'EDIT_REFERRER' in authorizations %}
                                {{render_field(form.referrer.more_info, class_="form-control", value=client.referrer.more_info)}}
                                {% else %}
                                {{render_field(form.referrer.more_info, class_="form-control", value=client.referrer.more_info, readonly="Y")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--ACCESS TAB-->
            <div class="tab-pane fade" id="access" role="tabpanel" aria-labelledby="access-tab">
                <div class="card border-danger my-3">
                    <div class="card-header alert-danger">Administrative Access</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-11">
                                {{render_field(form.attorney_initials, class_="form-control", value=client.attorney_initials)}}
                            </div>
                            <div class="form-group col">
                                {% if client.active_flag == 'Y' %}
                                {{render_field(form.active_flag, class_="form-control", value='Y', checked='Y')}}
                                {% else %}
                                {{render_field(form.active_flag, class_="form-control", value='Y')}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{render_field(form.admin_users, class_="form-control", value=client.admin_users)}}
                        </div>
                    </div>
                </div>
            </div>

            <!--ID TAB-->
            <div class="tab-pane fade" id="id" role="tabpanel" aria-labelledby="id-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">User Login</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.client_ssn, class_="form-control", value=client.client_ssn, onchange="hidePaymentLink()")}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.client_dl, class_="form-control", value=client.client_dl, onchange="hidePaymentLink()")}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.check_digit, class_="form-control", value=client.check_digit, readonly="Y")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--INSURANCE TAB-->
            <div class="tab-pane fade" id="insurance" role="tabpanel" aria-labelledby="insurance-tab">
                <div class="card border-primary my-3">
                    <div class="card-header alert-primary">Insurance</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <b>{{form.health_ins.label()}}</b>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.health_ins.carrier, class_="form-control", value=client.health_ins.carrier)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.health_ins.policy_holder, class_="form-control", value=client.health_ins.policy_holder)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.health_ins.policy_number, class_="form-control", value=client.health_ins.policy_number)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.health_ins.group_number, class_="form-control", value=client.health_ins.group_number)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.health_ins.monthly_premium, class_="form-control", value=client.health_ins.monthly_premium)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.health_ins.provided_through, class_="form-control", value=client.health_ins.provided_through)}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <b>{{form.dental_ins.label()}}</b>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.dental_ins.carrier, class_="form-control", value=client.dental_ins.carrier)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.dental_ins.policy_holder, class_="form-control", value=client.dental_ins.policy_holder)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.dental_ins.policy_number, class_="form-control", value=client.dental_ins.policy_number)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.dental_ins.group_number, class_="form-control", value=client.dental_ins.group_number)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.dental_ins.monthly_premium, class_="form-control", value=client.dental_ins.monthly_premium)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{render_field(form.dental_ins.provided_through, class_="form-control", value=client.dental_ins.provided_through)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--BILLING TAB-->
            <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">
                <div class="card border-success my-3">
                    <div class="card-header alert-success">Billing Summary</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{render_field(form.trust_balance, class_="form-control", value=client.trust_balance)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.unbilled_fees, class_="form-control", value=client.unbilled_fees)}}
                            </div>
                            <div class="form-group col-md">
                                {{render_field(form.unbilled_costs, class_="form-control", value=client.unbilled_costs)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{render_field(form.target_retainer, class_="form-control", value=client.target_retainer)}}
                            </div>
                            <div class="form-group col">
                                {{render_field(form.refresh_trigger, class_="form-control", value=client.refresh_trigger)}}
                            </div>
                            <div class="form-group col-md">
                                &nbsp;
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                {{form.mediation_retainer.label}}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            {% if client.mediation_retainer_flag == 'Y' %}
                                            {{form.mediation_retainer_flag(value="Y", checked="Y")}}
                                            {% else %}
                                            {{form.mediation_retainer_flag(value="Y")}}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {{form.mediation_retainer(class_="form-control", value=client.mediation_retainer)}}
                                </div>
                            </div>
                            <div class="form-group col-md">
                                {{form.trial_retainer.label}}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            {% if client.trial_retainer_flag == 'Y' %}
                                            {{form.trial_retainer_flag(value='Y', checked='Y')}}
                                            {% else %}
                                            {{form.trial_retainer_flag(value='Y')}}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {{form.trial_retainer(class_="form-control", value=client.trial_retainer)}}
                                </div>
                            </div>
                            <div class="form-group col-md">
                                {{form.payment_due.label}}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-success far fa-lightbulb" title="Suggest a payment amount" type="button" onclick="suggestPaymentDue('Y')"></button>
                                    </div>
                                    {{form.payment_due(class_="form-control", value=client.payment_due or 0.00)}}
                                    <div class="input-group-append">
                                        <div class="input-group-text" title="Check for Final Bill">
                                            {% if client.final_bill_flag == 'Y' %}
                                            {{form.final_bill_flag(value="Y", checked="Y")}}
                                            {% else %}
                                            {{form.final_bill_flag(value="Y")}}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md col-sm-6">
                                {{render_field(form.mediation_date, class_="form-control", value=client.mediation_date)}}
                            </div>
                            <div class="form-group col-md col-sm-6">
                                {{render_field(form.trial_date, class_="form-control", value=client.trial_date)}}
                            </div>
                            <div class="form-group col-md col-sm-12">
                                <label for="payment_url">Payment URL</label>
                                <span id="payment_url" class="border border-primary rounded p-1">{{our_pay_url}}{{client.client_ssn}}{{client.client_dl}}{{client.check_digit}}</span>
                                <div class="small">Must be updated if SSN or DL change.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-3" type="submit">Save</button>
        <a href="/crm" class="btn btn-secondary my-3 mx-3">Cancel</a>
    </form>

    <script>
        window.addEventListener('load', init);
        /**
         * Form initialization.
         * Set up listeners and prepopulate select inputs.
         */
        function init() {
            var e = document.getElementById('case_county');
            if (!e) {
                alert('case_county control missing');
            }
            else {
                e.addEventListener("change", county_change);
            }

            e = document.getElementById('court_type');
            if (!e) {
                alert('court_type control missing');
            }
            else {
                e.addEventListener("change", court_type_change);
            }
        }

        /**
         * Gets a list of court types for the given county when
         * the case_county value changes.
         */
        function county_change(ev) {
            $('#court_type').empty();
            $('#court_name').empty();
            var county = document.getElementById('case_county').value;
            var url = '/crm/data/court_types/' + county + '/';
            jQuery.get(
                url,
                function(data){update_select_options('#court_type', data);}
            );
        }

        /**
         * Gets a list of courts for the given county and court type when
         * the court_type value changes.
         */
        function court_type_change(ev) {
            $('#court_name').empty();
            var county = document.getElementById('case_county').value;
            var court_type = document.getElementById('court_type').value;
            var url = '/crm/data/court_names/' + county + '/' + court_type + '/';
            jQuery.get(
                url,
                function(data){update_select_options('#court_name', data);}
            );
        }

        /**
         * Update the options in a given select control.
         */
        function update_select_options(selector, result) {
            var select = $(selector);
            select.empty();
            select.append(make_options(result));
        }

        /*
         * Make an <option> string from an array.
         */
        function make_options(arr) {
            var options = '';
            arr.forEach(element => {
                options += '<option value="' + element + '">' + element + '</option>';
            });
            return options;
        }

        /**
         * Suggest a payment due based on all the inputs in the billing tab.
         */
        function suggestPaymentDue() {
            var payment_due = computePaymentDue().toFixed(2);
            var field = document.getElementById('payment_due');
            field.value = payment_due;
            field.textContent = payment_due;
        }

        function computePaymentDue(){
            var trust_balance = getDollarAmount('trust_balance');
            var unbilled_fees = getDollarAmount('unbilled_fees');
            var unbilled_costs = getDollarAmount('unbilled_costs');
            var target_retainer = getDollarAmount('target_retainer');
            var refresh_trigger = getDollarAmount('refresh_trigger');
            var mediation_retainer = getDollarAmount('mediation_retainer');
            var trial_retainer = getDollarAmount('trial_retainer');

            var mediation_retainer_flag = document.getElementById('mediation_retainer_flag').checked;
            var trial_retainer_flag = document.getElementById('trial_retainer_flag').checked;
            var final_bill_flag = document.getElementById('final_bill_flag').checked;

            var account_balance = trust_balance - unbilled_fees - unbilled_costs;

            // FINAL BILL
            if (final_bill_flag) {
                return account_balance < 0 ? Math.abs(account_balance) : 0.00;
            }

            if (mediation_retainer_flag) {
                target_retainer = mediation_retainer;
            }

            if (trial_retainer_flag) {
                target_retainer = trial_retainer;
            }

            if (target_retainer > account_balance) {
                return target_retainer - account_balance;
            }

            return 0.00;
        }

        function getDollarAmount(element_id) {
            var e = document.getElementById(element_id);
            if (!e) return 0.00;
            var v = e.value;
            try {
                v = parseFloat(v);
            }
            catch{
                v = 0.00;
            }
            if (isNaN(v)) v = 0.00
            return v;
        }
        
    </script>
{% endblock %}
