{% extends 'layout.html' %}
{% block body %}
    <h1>{{operation}} Client {% if client._id != '0'%}: {{client.name.title}} {{client.name.first_name}} {{client.name.middle_name}} {{client.name.last_name}}
    {{client.name.suffix}}{% endif %}</h1>
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method='POST' action="{{url_for('crm_routes.save_client')}}">
        <input type='hidden' name='_id' id='_id' value='{{client._id}}'>
        <input type='hidden' name='orig_trust_balance' value='{{client.trust_balance}}'>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col">
                {{render_field(form.billing_id, class_="form-control", value=client.billing_id)}}
            </div>
        </div>

        <!--NAVIGATION TABS-->
        <ul class="nav nav-tabs" id="client_tabs" role="tablist">
            {% for tab in tabs %}
                {% if (tab.get('required_authorization', '') != '' and tab.get('required_authorization') in authorizations) or (tab.get('required_authorization', '') == '') %}
            <li class="{{tab.li_class}}">
                <a class="{{tab.a_class}}" id="{{tab.name}}-tab" data-toggle="tab" href="#{{tab.name}}" role="tab" aria-controls="{{tab.name}}"
                    aria-selected="{{tab.selected}}">{{tab.label}}</a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!--TAB CONTENT-->
        <div class="tab-content" id="client_tab_content">
            {% include '/crm/includes/_client_name.html' %}
            {% include '/crm/includes/_client_address.html' %}
            {% include '/crm/includes/_client_contact.html' %}
            {% include '/crm/includes/_client_case.html' %}
            {% include '/crm/includes/_client_contacts.html' %}
            {% include '/crm/includes/_client_children.html' %}
            {% include '/crm/includes/_client_dates.html' %}
            {% include '/crm/includes/_client_marketing.html' %}
            {% include '/crm/includes/_client_access.html' %}
            {% include '/crm/includes/_client_id.html' %}
            {% include '/crm/includes/_client_insurance.html' %}
            {% include '/crm/includes/_client_billing.html' %}
            {% if 'PIONEER_USER' in authorizations %}
            {% include '/crm/includes/_client_plan.html' %}
            {% endif %}
        </div>
        <button class="btn btn-primary my-3" type="submit">Save</button>
        <a href="/crm" class="btn btn-secondary my-3 mx-3">Cancel</a>
    </form>

    {% include '/crm/includes/_client_add_child_modal.html' %}
    {% include '/crm/includes/_client_send_sms_modal.html' %}

    <script>
        window.addEventListener('load', client_init);
        /**
         * Form initialization.
         * Set up listeners and prepopulate select inputs.
         */
        function client_init() {
            var e = document.getElementById('case_county');
            if (!e) {
                alert('case_county control missing');
                return;
            }
            e.addEventListener("change", county_change);
 
            e = document.getElementById('court_type');
            if (!e) {
                alert('court_type control missing');
                return;
            }
            e.addEventListener("change", court_type_change);

            {% if 'PIONEER_USER' in authorizations %}
            e = document.getElementById('btn_load_plan');
            if (!e) {
                alert('btn_load_plan control missing');
                return;
            }
            e.addEventListener("click", load_case_plan);

            e = document.getElementById('btn_init_disclosures');
            if (!e) {
                alert('btn_init_disclosures control missing');
                return;
            }
            e.addEventListener("click", create_disclosures_plan);
            {% endif %}

            $('#addChildModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered modal
                console.log("MODAL TRIGGERED");
            });

            $('#addChildModal').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered modal
                console.log("MODAL APPEARS");
            });

            $('.editable_contact_role').on('blur', function (event) {
                var new_role = event.target.textContent;
                var record_id = event.target.dataset.clientsContactsId;
                var post_data = {
                    role: new_role,
                    id: record_id
                };
                jQuery.post(
                    '/crm/util/update_contact_role',
                    post_data,
                    function (data) {
                        if (data.success)
                        {
                            // meh
                        }
                        else
                        {
                            console.log(data);
                        }
                    },
                    'json');
            });

            contacts_init();
        }

        function contacts_init() {
            $('[data-tooltip~="tooltip"]').tooltip();
            $('#message-text').focus(function (event) {
                $('#message-result').html('');
            });

            $('#smsMessageModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered modal
                var recipient = button.data('name');
                var telephone = button.data('telephone');
                var modal = $(this);
                modal.find('.modal-title').text('Send Message to ' + recipient);
                modal.find('.modal-body input').val(telephone);
                modal.find('.modal-body textarea').val('');
                $('#message-result').html('');
            }
            );
        }


        /**
         * Gets a list of court types for the given county when
         * the case_county value changes.
         */
        function county_change(ev) {
            $('#court_type').empty();
            $('#court_name').empty();
            var county = document.getElementById('case_county').value;
            var url = '/crm/data/court_types/' + county + '/';
            jQuery.get(
                url,
                function(data){update_select_options('#court_type', data);}
            );
        }

        /**
         * Gets a list of courts for the given county and court type when
         * the court_type value changes.
         */
        function court_type_change(ev) {
            $('#court_name').empty();
            var county = document.getElementById('case_county').value;
            var court_type = document.getElementById('court_type').value;
            var url = '/crm/data/court_names/' + county + '/' + court_type + '/';
            jQuery.get(
                url,
                function(data){update_select_options('#court_name', data);}
            );
        }

        /**
         * Create a new child subform on the children tab.
         * This function does NOT save the child to the database.
         * It merely adds it to the UI.
         *
         * TODO: Determine whether NOT saving to the DB is a UX problem.
         */
        function save_child() {
            var next_index = $('#child_count').val();
            new_child = create_new_child_form(next_index);
            child_list = document.getElementById("child-list");
            child_list.append(new_child);
            populate_new_child_form(next_index);
            $("#addChildModal").modal('hide');
            next_index = parseInt(next_index);
            $('#child_count').val(next_index+1);
            document.getElementById("addChildForm").reset();
            e = document.getElementById("childTitle");
            e.classList.remove('alert-primary');
            e.classList.add('alert-warning');
            e = document.getElementById('childWarning');
            e.innerHTML = "- YOU MUST CLICK [SAVE] TO SAVE THE CHILD" + (next_index > 1 ? "REN" : "");
        }

        /**
         * Create new child subform to hold values collected from the
         * addChildModal.
         */
        function create_new_child_form(next_index) {
            console.log("Creating new child form with index of " + next_index);
            /*
            * Rename the XX fields and IDs to the next_index value.
            * 
            * <div class="border border-primary rounded mb-3 hidden child_template">
                    <div class="form-row mx-4">
                        <div class="form-group col-md">
                            <label for="children-XX-name-first_name">First name</label>
                            <input class="form-control" id="children-XX-name-first_name" name="children-XX-name-first_name" type="text">
                        </div>
                    </div>
                </div>
            */
            var rows = [
                [
                    {label: "First name", iclass: ["form-control"], id: "children-XX-name-first_name", name: "children-XX-name-first_name", type:"text", dclass: ["form-group", "col-md"]},
                    {label: "Middle name", iclass: ["form-control"], id: "children-XX-name-middle_name", name: "children-XX-name-middle_name", type:"text", dclass: ["form-group", "col-md"]},
                    {label: "Last name", iclass: ["form-control"], id: "children-XX-name-last_name", name: "children-XX-name-last_name", type:"text", dclass: ["form-group", "col-md"]},
                    {label: "Suffix", iclass: ["form-control"], id: "children-XX-name-suffix", name: "children-XX-name-suffix", type:"text", dclass: ["form-group", "col-md-2"]},
                ],
                [
                    {label: "Sex", iclass: ["form-control"], id: "children-XX-sex", name: "children-XX-sex", type:"text", dclass: ["form-group", "col-md"]},
                    {label: "Birth date", iclass: ["form-control"], id: "children-XX-dob", name: "children-XX-dob", type:"text", dclass: ["form-group", "col-md"]},
                    {label: "Home state", iclass: ["form-control"], id: "children-XX-home_state", name: "children-XX-home_state", type:"text", dclass: ["form-group" ,"col-md"]},
                    {label: "SSN", iclass: ["form-control"], id: "children-XX-ssn", name: "children-XX-ssn", type:"text", dclass: ["form-group", "col-md-2"]},
                ]
            ]

            var newChild = document.createElement("div");
            newChild.classList.add("border", "border-warning", "rounded", "mb-3");

            rows.forEach((row) => {
                var newRow = document.createElement("div");
                newRow.classList.add("form-row", "mx-4");
                row.forEach((field) => {
                    var outterDiv = document.createElement("div");
                    outterDiv.classList.add(...field.dclass);
                    var newLabel = document.createElement("label");
                    newLabel.htmlFor = field.id.replace("XX", next_index);
                    newLabel.textContent = field.label;
                    var newInput = document.createElement("input");
                    newInput.setAttribute('type', field.type);
                    newInput.classList.add(...field.iclass);
                    newInput.setAttribute("id", field.id.replace("XX", next_index));
                    newInput.setAttribute("name", field.name.replace("XX", next_index));
                    outterDiv.append(newLabel);
                    outterDiv.append(newInput);
                    newRow.append(outterDiv);
                });
                newChild.append(newRow);
            });
            return newChild;
        }

        /**
         * Populate the given child subform with values from the addChildModal.
         */
        function populate_new_child_form(next_index) {
            console.log("Populating new child form with index of " + next_index);
            var fields = ['name-first_name', 'name-middle_name', 'name-last_name', 'name-suffix', 'sex', 'dob', 'home_state', 'ssn'];
            fields.forEach((element) => {
                var dest_selector = '#children-' + next_index + '-' + element;
                var src_selector = '#addChildForm #' + element;
                var value = $(src_selector).val();
                console.log({'From': src_selector, 'To': dest_selector, 'Value': value});
                $(dest_selector).val(value);
            });
        }

        /**
         * Update the options in a given select control.
         */
        function update_select_options(selector, result) {
            var select = $(selector);
            select.empty();
            select.append(make_options(result));
        }

        /*
         * Make an <option> string from an array.
         */
        function make_options(arr) {
            var options = '';
            arr.forEach(element => {
                options += '<option value="' + element + '">' + element + '</option>';
            });
            return options;
        }

        /**
         * Suggest a payment due based on all the inputs in the billing tab.
         */
        function suggestPaymentDue() {
            var payment_due = computePaymentDue().toFixed(2);
            var field = document.getElementById('payment_due');
            field.value = payment_due;
            field.textContent = payment_due;
        }

        function computePaymentDue(){
            var trust_balance = getDollarAmount('trust_balance');
            var unbilled_fees = getDollarAmount('unbilled_fees');
            var unbilled_costs = getDollarAmount('unbilled_costs');
            var target_retainer = getDollarAmount('target_retainer');
            var refresh_trigger = getDollarAmount('refresh_trigger');
            var mediation_retainer = getDollarAmount('mediation_retainer');
            var trial_retainer = getDollarAmount('trial_retainer');

            var mediation_retainer_flag = document.getElementById('mediation_retainer_flag').checked;
            var trial_retainer_flag = document.getElementById('trial_retainer_flag').checked;
            var final_bill_flag = document.getElementById('final_bill_flag').checked;

            var account_balance = trust_balance - unbilled_fees - unbilled_costs;

            // FINAL BILL
            if (final_bill_flag) {
                return account_balance < 0 ? Math.abs(account_balance) : 0.00;
            }

            if (mediation_retainer_flag) {
                target_retainer = mediation_retainer;
            }

            if (trial_retainer_flag) {
                target_retainer = trial_retainer;
            }

            if (target_retainer > account_balance) {
                return target_retainer - account_balance;
            }

            return 0.00;
        }

        function getDollarAmount(element_id) {
            var e = document.getElementById(element_id);
            if (!e) return 0.00;
            var v = e.value;
            try {
                v = parseFloat(v);
            }
            catch{
                v = 0.00;
            }
            if (isNaN(v)) v = 0.00
            return v;
        }

        function send_message() {
            var telephone = encodeURIComponent($('#recipient-telephone').val());
            var message = encodeURIComponent($('#message-text').val());
            $('#message-result').html('');
            jQuery.get(
                '/crm/util/send_message/' + telephone + '/' + message + '/',
                function (data) {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                        return false;
                    }
                    $('#message-result').html(data.message);
                    $('#message-text').val('');
                });
        }

        function dial(to_number) {
            var opts = {
                to_number: to_number
            };
            dialer.dial(opts);
        }

        function load_case_plan() {
            var url = "{{ url_for('crm_routes.get_client_plan', client_id=client.billing_id)}}";
            jQuery.get(
                url,
                function(data) {
                    console.log(data);
                    show_case_plan(data);
                }
            );
        }

        function begin_plan(title) {
            var html = ''.concat(
                '<div class="form-row">\n\t<h3>', title, '</h3>\n</div>', task_titles());
            return html;
        }

        function task_titles() {
            var html = ''.concat(
                '\n\t<div class="form-row">',
                '\n\t\t<div class="form-group col-md-6">Task</div>',
                '\n\t\t<div class="form-group col-md-3">Owner</div>',
                '\n\t\t<div class="form-group col-md-1">Due</div>',
                '\n\t\t<div class="form-group col-md-1">%</div>',
                '\n\t\t<div class="form-group col-md-1">Done</div>',
                '\n\t</div>\n');
            return html;
        }

        function plan_task(task) {
            var html = ''.concat(
                '\n\t<div class="form-row">',
                '\n\t\t<div class="form-group col-md-6">', task.title, '</div>',
                '\n\t\t<div class="form-group col-md-3">', task.assigned_to, '</div>',
                '\n\t\t<div class="form-group col-md-1">', task.due_date.substring(5, 10), '</div>',
                '\n\t\t<div class="form-group col-md-1">', task.percent_complete, '%</div>',
                '\n\t\t<div class="form-group col-md-1">', task.complete_date.substring(5, 10), '</div>',
                '\n\t</div>\n');
            return html;

        }

        function end_plan() {
            return '';
        }

        function create_case_plan_html(plan) {
            var html = '';
            plan.forEach((bucket) => {
                var title = bucket.title;
                console.log(title);
                html += begin_plan(title);
                bucket.tasks.forEach((task) => {
                    html += plan_task(task);
                });
                html += end_plan();
            });
            return html;
        }

        function show_case_plan(plan) {
            var html = create_case_plan_html(plan);
            e = document.getElementById('case_plan');
            if (!e) {
                alert('case_plan element missing');
            }
            else {
                e.innerHTML = html;
            }
            console.log(html);
        }

        function create_disclosures_plan() {
            var url = "{{ url_for('crm_routes.create_plan', client_id=client.billing_id, plan_type=2)}}";
            jQuery.get(
                url,
                function (data) {
                    console.log(data);
                    load_case_plan();
                }
            );
        }

        function formatAddress(delimiter) {
            var title = document.getElementById('name-title').value;
            if (title) title += " ";
            var fname = document.getElementById('name-first_name').value;
            if (fname) fname += " ";
            var mname = document.getElementById('name-middle_name').value;
            if (mname) mname += " ";
            var lname = document.getElementById('name-last_name').value;
            var suffix = document.getElementById('name-suffix').value;
            if (lname && suffix) {
                lname += " ";
            }
            var street = document.getElementById('address-street').value;
            var city = document.getElementById('address-city').value;
            var state = document.getElementById('address-state').value;
            var zip = document.getElementById('address-postal_code').value;
            var address = title + fname + mname + lname + suffix + delimiter + street + delimiter + city + ", " + state + " " + zip;
            return address;
        }

        function copyMultineAddressToClipboard() {
            copyToClipboard(formatAddress("\n"));
        }

        function copyOneLineAddressToClipboard() {
            copyToClipboard(formatAddress(", "));
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function() {
                /* set */
            }, function() {
                /* failed */
            });
        }

        function dim_row(element_id) {
            e = document.getElementById(element_id);
            if (e) {
                e.classList.add("table-dark");
            }
        }

        function unlink(client_id, contact_id, row_element_id, contact_name) {
            if (!window.confirm("Press OK to unlink " + contact_name + " from this client."))
                return false;
            var url = "/crm/util/unassign_contact/" + contact_id + "/" + client_id + "/";
            jQuery.get(
                url,
                function (data) {
                    console.log(data);
                    dim_row(row_element_id);
                }
            )
        }
        
    </script>
{% endblock %}
