{% extends 'layout.html' %}
{% block body %}
<h1>{{operation}} Contact</h1>
{% from 'includes/_formhelpers.html' import render_field %}
<form method='POST' action="{{url_for('crm_routes.save_contact')}}">
    <input type='hidden' name='_id' id='_id' value='{{contact._id}}'>
    <div class="card border-primary my-3">
        <div class="card-header alert-primary">Name</div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-1">
                    {{render_field(form.name.title, class_="form-control", value=contact.name.title)}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.name.first_name, class_="form-control", value=contact.name.first_name)}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.name.middle_name, class_="form-control", value=contact.name.middle_name)}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.name.last_name, class_="form-control", value=contact.name.last_name)}}
                </div>
                <div class="form-group col-md-2">
                    {{render_field(form.name.suffix, class_="form-control", value=contact.name.suffix)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    {{render_field(form.name.salutation, class_="form-control", value=contact.name.salutation)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    {{render_field(form.organization, class_="form-control", value=contact.organization)}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.job_title, class_="form-control", value=contact.job_title)}}
                </div>
            </div>
        </div>
    </div>

    <div class="card border-primary my-3">
        <div class="card-header alert-primary">Contact</div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md">
                    {{form.office_phone.label()}}
                    <div class="input-group mb-3">
                        {% if contact.office_phone %}
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary fa fa-phone" title="Call {{contact.office_phone | phone_number}}"
                                type="button" onclick="dial('{{contact.office_phone}}')"></button>
                        </div>
                        {% endif %}
                        {{form.office_phone(class_="form-control", value=contact.office_phone)}}
                    </div>
                </div>

                <div class="form-group col-md">
                    {{form.cell_phone.label()}}
                    <div class="input-group mb-3">
                        {% if contact.cell_phone %}
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary fa fa-phone" title="Call {{contact.cell_phone | phone_number}}"
                                type="button" onclick="dial('{{contact.cell_phone}}')"></button>
                        </div>
                        {% endif %}
                        {{form.cell_phone(class_="form-control", value=contact.cell_phone)}}
                    </div>
                </div>

                <div class="form-group col-md">
                    {{form.email.label()}}
                    <div class="input-group">
                        {% if contact.email %}
                        <div class="input-group-prepend">
                            <a href="mailto:{{contact.email}}" class="btn btn-outline-secondary fa fa-envelope pt-2" data-toggle="tooltip"
                                data-placement="top" title="Send Email to {{contact.email}}" role="button">
                            </a>
                        </div>
                        {% endif %}
                        {{form.email(class_="form-control", value=contact.email)}}
                    </div>
                </div>
                <div class="form-group col-md-2">
                    {{render_field(form.fax, class_="form-control", value=contact.fax)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    {{render_field(form.email_cc, class_="form-control", value=contact.email_cc)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    <div class="input-group">
                        {{form.address.street(class_="form-control", value=contact.address.street)}}
                        <div class="input-group-append">
                            <div class="input-group-text" title="Download letter">
                                <a href="/crm/util/contact_letter/{{contact._id}}/{{client_id or 0}}/"
                                    class="btn btn-sm fas fa-file-download" role="button">
                                </a>
                                <button
                                    class="btn btn-sm fa fa-ellipsis-v"
                                    role="button"
                                    type="button"
                                    aria-label="Copy multiline address to clipboard"
                                    title="Copy multiline address to clipboard"
                                    onclick="copyMultineAddressToClipboard()">
                                </button>
                                <button
                                    class="btn btn-sm fa fa-ellipsis-h"
                                    role="button"
                                    type="button"
                                    aria-label="Copy single line address to clipboard"
                                    title="Copy one-line address to clipboard"
                                    onclick="copyOneLineAddressToClipboard()">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    {{render_field(form.address.city, class_="form-control", value=contact.address.city)}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.address.state, class_="form-control", value=contact.address.state)}}
                </div>
                <div class="form-group col-md">
                    {{render_field(form.address.postal_code, class_="form-control", value=contact.address.postal_code)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    {{form.notes.label()}}
                    <div class="input-group">
                        <textarea class="form-control rounded-3" id="notes" name="notes" rows="5">{{contact.notes}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary my-3" type="submit">Save</button>
    <a href="/crm/contacts" class="btn btn-secondary my-3 mx-3">Cancel</a>
</form>
<script>
    function dial(to_number) {
        opts = {
            to_number: to_number
        };
        dialer.dial(opts);
    }

    function formatAddress(delimiter) {
        var title = document.getElementById('name-title').value;
        if (title) title += " ";
        var fname = document.getElementById('name-first_name').value;
        if (fname) fname += " ";
        var mname = document.getElementById('name-middle_name').value;
        if (mname) mname += " ";
        var lname = document.getElementById('name-last_name').value;
        var suffix = document.getElementById('name-suffix').value;
        if (lname && suffix) {
            lname += " ";
        }
        var organization = document.getElementById('organization').value;
        var street = document.getElementById('address-street').value;
        var city = document.getElementById('address-city').value;
        var state = document.getElementById('address-state').value;
        var zip = document.getElementById('address-postal_code').value;
        var address = title + fname + mname + lname + suffix + delimiter + organization + delimiter + street + delimiter + city + ", " + state + " " + zip;
        return address;
    }

    function copyMultineAddressToClipboard() {
        copyToClipboard(formatAddress("\n"));
    }

    function copyOneLineAddressToClipboard() {
        copyToClipboard(formatAddress(", "));
    }

    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
            /* set */
        }, function() {
            /* failed */
        });
    }
        
</script>

{% endblock %}