{% extends 'layout.html' %}
{% block body %}
<style>
    .table-hover>tbody>tr>td.highlightable:hover {
        background-color: #eedf0d !important;
    }

    .table-hover>tbody>tr:hover>td {
        background-color: inherit;
    }
</style>
<div class="row">
    <div class="col">
        <span class="my-3"><span class="h1">Contacts</span>{% if client_name %} - <small>{{client_name}}</small>{% endif %}</span>
    </div>
    <div class="col">
        <a class="btn btn-primary btn-sm float-right my-3" href="{{url_for('crm_routes.add_contact')}}">ADD</a>
    </div>
</div>
<form method='POST' action="{{url_for('crm_routes.search_contacts', page_num=1)}}">
    <div class="input-group mb-3">
        <input type="hidden" name="client_id" value="{{client_id or 0}}" />
        <input type="search" class="form-control" id="search" name="query" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-search" type="submit"></button>
        </div>
    </div>
</form>

<table class="table table-sm table-hover">
    <tr>
        <th>Name</th>
        <th class="d-none d-md-table-cell">Job</th>
        <th>Email</th>
        <th colspan="2">Call</th>
        <th>SMS</th>
        <th class="d-none d-md-table-cell">Letter</th>
        <th class="d-none d-md-table-cell">Link</th>
        {% if 'DOWNLOAD_VCARD' in authorizations %}
        <th>Vcard</th>
        <th class="d-none d-md-table-cell"></th>
        {% endif %}
    </tr>
    {% for contact in contacts %}
    <tr>
        <td class="highlightable">
            <a href="/crm/contact/{{contact._id}}">
                {{contact.name.title}} {{contact.name.first_name}} {{contact.name.middle_name}} {{contact.name.last_name}} {{contact.name.suffix}}
            </a>
        </td>
        <td class="d-none d-md-block">
            {{contact.job_title}}
        </td>
        {% if contact.email %}
        <td>
            <a href="mailto:{{contact.email}}?subject={{email_subject}}&cc={{contact.cc_list}}" class="btn btn-outline-secondary fa fa-envelope" data-toggle="tooltip"
                data-placement="top" title="Send Email to {{contact.email}}" role="button">
            </a>
        </td>
        {% else %} 
        <td></td>
        {% endif %}
        {% if contact.office_phone.strip() != '' %}
        <td>
            <button class="btn btn-outline-secondary fa fa-phone" data-toggle="tooltip" data-placement="top"
                title="Call Office: {{contact.office_phone | phone_number}}" onclick="dial('{{contact.office_phone}}')">
            </button>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% if contact.cell_phone.strip() != '' %}
        <td>
            <button class="btn btn-outline-secondary fa fa-mobile" data-toggle="tooltip" data-placement="top"
                title="Call cell: {{contact.cell_phone | phone_number}}" onclick="dial('{{contact.cell_phone}}')">
            </button>
        </td>
        <td>
            <button class="btn btn-outline-secondary fa fa-comments"
                data-name="{{contact.name.title}} {{contact.name.first_name}} {{contact.name.last_name}}"
                data-telephone="{{contact.cell_phone}}" data-target="#smsMessageModal" data-placement="top"
                title="Send Text" data-tooltip="tooltip" data-toggle="modal">
            </button>
        </td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
        <td class="d-none d-md-table-cell">
            <a class="btn btn-outline-secondary fas fa-file-download" href="/crm/util/contact_letter/{{contact._id}}/{{client_id or 0}}/"></a>
        </td>
        <td class="d-none d-md-table-cell">
            <button class="btn btn-outline-secondary fa fa-link" data-contactid="{{contact._id}}"
                data-name="{{contact.name.title}} {{contact.name.first_name}} {{contact.name.middle_name}} {{contact.name.last_name}} {{contact.name.suffix}}"
                data-jobtitle="{{contact.job_title}}" data-organization="{{contact.organization}}" data-target="#assignClientModal" data-placement="top"
                title="Link to client" data-tooltip="tooltip" data-toggle="modal">
            </button>
        </td>
        {% if 'DOWNLOAD_VCARD' in authorizations %}
        <td>
            <a class="btn btn-outline-primary far fa-address-card" href="/crm/data/contact/vcard/{{contact._id}}/pro/"
                title="VCard for Professionals" data-tooltip="tooltip">
            </a>
        </td>
        <td class="d-none d-md-table-cell">
            <a class="btn btn-outline-secondary far fa-address-card" href="/crm/data/contact/vcard/{{contact._id}}/nonpro/"
                title="VCard for Clients" data-tooltip="tooltip">
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<div>
    {% if 'DOWNLOAD_CONTACTS' in authorizations %}
    <a href="/crm/contacts/csv" class="btn btn-sm btn-primary">Download</a>
    {% endif %}
    <span class="float-right">
    <a
        {% if prev_page_num > 0 %}
        href="/crm/contacts/{{prev_page_num}}"
        class="btn btn-sm btn-primary"
        {% else %}
        href="#"
        class="btn btn-sm btn-secondary"
        {% endif %}
    ><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</a>
    <a href="/crm/contacts/{{next_page_num}}" class="btn btn-sm btn-primary">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
    </span>
</div>
<br />

<!--MODAL FOR SENDING SMS MESSAGES-->
<div class="modal fade" id="smsMessageModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smsModalLabel">Send Text Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Telephone:</label>
                        <input type="text" class="form-control" id="recipient-telephone">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" rows="5"></textarea>
                    </div>
                    <div class="alert alert-primary" id="message-result"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="send_message()">Send</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL FOR ASSIGNING THIS CONTACT TO A CLIENT-->
<div class="modal fade" id="assignClientModal" tabindex="-1" role="dialog" aria-labelledby="assignClientModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignClientModalLabel">Assign to Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <small id="assignContactName">name</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small id="assignContactJobtitle">title</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small id="assignContactOrganization">organization</small>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <input type="hidden" class="assigncontact_id" id="assigncontact_id" name="contact_id" />
                    <div class="form-group">
                        <label for="assignClientId" class="col-form-label">Client:</label>
                        <select class="form-control" id="assignClientId"></select>
                    </div>
                    <div class="alert alert-primary" id="assign-result"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="assign_contact()">Assign</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', contacts_init);

    function contacts_init() {
        $('[data-tooltip~="tooltip"]').tooltip();
        $('#message-text').focus(function (event) {
            $('#message-result').html('');
        });

        $('#smsMessageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered modal
            var recipient = button.data('name');
            var telephone = button.data('telephone');
            var modal = $(this);
            modal.find('.modal-title').text('Send Message to ' + recipient);
            modal.find('.modal-body input').val(telephone);
            modal.find('.modal-body textarea').val('');
            $('#message-result').html('');
        }
        );

        $('#assignClientModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered modal
            var cn_id = button.data('contactid');
            var cn_name = button.data('name');
            var cn_jobtitle = button.data('jobtitle');
            var cn_org = button.data('organization');
            var modal = $(this);
            modal.find('#assigncontact_id').val(cn_id);
            modal.find('#assignContactName').text(cn_name);
            modal.find('#assignContactJobtitle').text(cn_jobtitle);
            modal.find('#assignContactOrganization').text(cn_org);
            populate_client_dropdown();
            $('#assign-result').html('');
        }
        );
    }

    function populate_client_dropdown() {
        jQuery.get(
            '/crm/data/client_ids/',
            function(data) {
                var select_list = $('#assignClientId');
                select_list.empty();
                $.each(data, function(key, value) {
                    select_list.append($('<option>,/option>').attr('value', key).text(value));
                })
            }
        )
    }

    function dial(to_number) {
        jQuery.get(
            '/crm/util/dial/' + to_number + '/',
            function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return false;
                }
                if (!data.success) {
                    alert(data.message);
                }
            });
    }

    function send_message() {
        var telephone = encodeURIComponent($('#recipient-telephone').val());
        var message = encodeURIComponent($('#message-text').val());
        $('#message-result').html('');
        jQuery.get(
            '/crm/util/send_message/' + telephone + '/' + message + '/',
            function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return false;
                }
                $('#message-result').html(data.message);
                $('#message-text').val('');
            });
    }

    function assign_contact() {
        var contact_id = $('#assigncontact_id').val();
        var client_id = $('#assignClientId').val();
        $('#message-result').html('');

        jQuery.get(
            '/crm/util/assign_contact/' + contact_id + '/' + client_id + '/',
            function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return false;
                }
                $('#assign-result').html(data.message);
            });
    }
</script>
{% endblock %}